.profile{
  background-color:#ffc0cb;
  margin: 0 !important;
  height:100vh;
  padding: 20vh 50px 0 50px;
}


.links{
  /* background-color:greenyellow; */
  margin: 0 !important;
  padding: 10vh 40px 10vh 40px;
}

@media only screen and (max-width: 600px) {
  .profile {
    height:50vh;
    padding: 5vh 20px 0px 20px;
  }
  .links{
    padding: 5vh 20px 10vh 20px;
  }
}